Hello,

I appreciate joining our waiting list and if you want to be one of the first people to have access to our application, read below.

We are hardcore gamers since we were kids, and we've grown up with gaming still being one of our biggest passions. At the moment we're trying to solve one problem that we all have. Finding games we will love and can play with our friends at low prices.

If you want, you can answer a few questions we prepared to better deliver what you need. It will just take 3 minutes.
http://bit.ly/180klxx

Best,
Daniel
