Hello,

I appreciate joining our waiting list and if you want to be one of the first people to have access to our application, read below.

We are hardcore gamers since we were kids, and we've grown up with gaming still being one of our biggest passions. At the moment we're trying to solve one problem that we all have. Finding games we will love and can play with our friends at really low prices.

I want to have a one on one discussion with each person that subscribes to our mailing list. Tell me if you have 15 minutes to talk. We can use Skype, Hangouts or whatever voice chat you have available.

Reply to this email and tell me if you would like to find out more about this application, and you will be in the fast lane for getting access.

You could also answer a few questions to help us better deliver what you need.
http://bit.ly/180klxx

Best,
Daniel
